<div class="d-flex flex-column p-4 align-items-center">
  <div class="d-flex p-4">
    <a href="/personal" style="text-decoration: none" class="pt-2"><-- Мероприятия</a>
    <h2 class="ps-4">Название мер-тия</h2>
  </div>
  <h3>Редактирование мероприятия</h3>
  <form action="/create" method='POST'>
     <input name = 'title' type="text" placeholder="Название мероприятия" class="mb-2"><br>
    <input name = 'event_date' type="date" placeholder="Дата" class="mb-2"><br>
    <input name = 'location' type="text" placeholder="Место" class="mb-2"><br>
    <input name = 'description' type="text" placeholder="Описание" class="mb-2"><br>
    <button class="btn btn-info mb-3">Применить</button>
  </form>
  <div class="btn btn-danger"><a href="#" style="text-decoration: none">Список участников</a></div>
</div>
