<div class="d-flex flex-column p-4 align-items-center">
  <div class="d-flex">
    <h2 class="pb-2">Интересы:</h2>
    <p class="p-2">interest1</p>
    <p class="p-2">interest2</p>
    <p class="p-2">interest3</p>
  </div>
  <ul>
    <li>dependence1</li>
    <li>dependence2</li>
    <li>dependence3</li>
  </ul>
  <p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi error eum explicabo facere fuga ipsam ipsum minima nam numquam odit pariatur placeat quia repellat sed, ullam unde velit voluptatem.</span>
  </p>
  <div class="btn btn-info"><a href="#"></a>Редактировать</div>
</div>
