<form>
  <div class="d-flex mt-3">
    <h2 class="mx-3">Interests:</h2>
    <div class="mb-3 mx-3">
      <label for="exampleInputName" class="form-label">Interest1</label>
      <input type="text" class="form-control" id="exampleInputName">
    </div>
    <div class="mb-3 mx-3">
      <label for="exampleInputEmail1" class="form-label">Interest2</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 mx-3">
      <label for="exampleInputPassword1" class="form-label">Interest3</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 mx-3">
      <label for="disabledSelect" class="form-label">Dependencies</label><br>
      <select id="disabledSelect" class="form-select" multiple="multiple">
        <option>Drink</option>
        <option>Smoke</option>
        <option>Talking</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary ms-3">Submit</button>
</form>
