<form>
  <div class="d-flex mt-3">
    <div class="mb-3 mx-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="name" class="form-control" id="exampleInputName">
    </div>
    <div class="mb-3 mx-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 mx-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <button type="submit" class="btn btn-primary ms-3">Submit</button>
</form>
<div class="btn btn-success mx-3 my-3" style="border-radius: 50%"><a href="#" style="color: white">skip</a></div>
