<div class="d-flex flex-column align-items-center bd-highlight mt-3">
  <div class="d-flex flex-column bd-highlight">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active ms-3" aria-current="page" href="/">Анкета</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Мероприятия</a>
      </li>
    </ul>
    <hr>
    <div class="d-flex justify-content-around"><h4>All events</h4><a style="display: block; text-decoration: none; font-size: 25px" href="#">+</a></div>
    <hr>
    <ul>
      <!--  {{#each events}}-->
      <!--    <li>-->
      <!--      &lt;!&ndash;      {{event}}{{status}}&ndash;&gt;-->
      <!--      title1 Status <a href="#">Open/Close</a><a href="#">Edit</a>-->
      <!--    </li>-->
      <!-- start event block -->
      <div class="d-flex bd-highlight">
        <h3 class="pe-3">Title</h3>
        <h3 class="pe-3">Status</h3>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Удалить</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Редактировать</a>
          </li>
        </ul>
      </div>
      <!-- finish event block -->
      <!--  {{/each}}-->
    </ul>
  </div>
</div>
